a{
    padding: 10px;
    font-family: cursive;
    font-size: 0.5cm;
    color: white;
    backdrop-filter: blur(100px);
}
.navbar{
    display: inline;
    padding: 10px;
    border-style: solid;
    border-radius: 5px;
    color: white;
    border-width: 0.5px;
}
nav{
    margin-left: auto;
    margin-right: auto;
    backdrop-filter: blur(100px);
}
li{
    display: inline;
    
}
.video_bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* 🔥 scales video properly */
    z-index: -1;
}
.intro{
    color: rgb(251, 251, 251);
    font-size: 30px;
    text-align: center;
    font-family: monospace;
    padding: 10px;
    background: linear-gradient(rgb(44, 1, 113),black); 
    width: 25cm;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1cm;
}
img{
    height: 5cm;
    padding: 5px;
    width: 5cm;
    border: solid;
    border-radius: 2.5cm;
}
#imageid{
    margin-top: 1cm ;
    width: 5cm;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2cm;
}
#about-me{
    color: white;
    font-family: cursive;
    width: 30cm;
    border-radius: 1cm;
    backdrop-filter: blur(30px);
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4cm;
}
.pad{
    padding-left: 10px;
    padding-right: 10px;
}
#mech{
    width: 5cm;
    margin-left: auto;
    margin-right: auto;
}
#card1{
    background: url('image copy 3.png');
}